<h1> Upload yer file</h1>
<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>


<%= form_with(url: {action: :create}, multipart: true) do %>
  <%= file_field_tag 'upload[file]' %>
  <%= submit_tag("Convert") %>
<% end %>

<!--
<% form_tag '/upload/create', { :multipart => true } do %>
    <p>
    <%= file_field_tag 'upload[file]' %>
    </p>
    <p>
        <%= submit_tag "Upload" %>
    </p>
<% end %>
-->